<!DOCTYPE html>
<html>
<head>
	<title>DataRoot_second_week</title>
	<link rel="stylesheet" type="text/css" href="primary_btn.css">
</head>
<body>
<a href="#" class="button primary_button green_button">Primary button</a>
<a href="#" class="button secondary_button button-white">Secondary</a>
<a href="#" class="button button_label green_button">Button label </a>
<a href="#" class="button small_button_primary green_button">Small primary</a>
<a href="#" class="button small_secondary button-white">Small secondary</a>
<a href="#" class="button small_primary green_button">Small primary</a>
</body>
</html>