@media only screen and (max-width:890px) {
      .header_wrapper{
          padding: 0px 1% 170px 4.5%;
      }

      .header_title {
          padding: 50px 0 36px;
            line-height: 36px;
            width: 80%;
      }

      .header_titleMain {
          font-size: 24px;
          letter-spacing: -.75px;
      }

      .header_choose {
            max-width: 300px;
            padding-bottom: 30px;
            padding-top: 36px;
      }

      .header_content {
      	  display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      
      .choose__city {
        width: 90%;
        max-width: 500px;
      }

      .content__search_start {
        width: 58%;
        max-width: 350px;
      }

      .nav_register {
      	display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .nav_act {
        display: none;
      }
}

@media only screen and (max-width: 575px) {
  .nav_wrapper, .nav_register {
  	        display: flex;
            flex-direction: column;
            align-items: flex-start;
  }

  .header {
  	height: 480px;
  	background-size: cover; 
  }

  .content__search {
  	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .choose__city {
  	padding-bottom: 20px;
  }

  .header_navigation {
  	padding-bottom: -50px;
  }

  .header_content {
  	padding: 0px 0px 30px 0px;
  }

  .content__search_start {
  	margin: 130px 0px 0px 0px;
  	padding: 17px 25px 17px 25px;
  	height: 40px;
  	width: 201px;
  }

  .choose__rooms_items {
  	padding-top: 20px;
  }

  .choose__rooms {
  	padding: 10px 0px 0px 0px;
  }
.iphone_tele {
	display: none;
}

.realty_search {
	display: flex;
	flex-direction: column-reverse;
	height: 484px;
}

.realty_search_img {
	align-self: flex-start;
}

.apartments {
	overflow-x: scroll; 
}

.apartment {
	padding-right: 10px;
}



.metrovka__news {
	display: block;
}


}

@media screen and (max-width: 1120px) {
  .header > * {
    width: calc( 100% - 32px); } 
  }

@media screen and (max-width: 860px) {
    .realty_search_content_title, .content__title_best, .content__title_best, .telegram__header_title, .telegram__content__info__title_text, .telegram__content__info__text_title, .blogs__title {
      font-size: 1.25rem; } }

@media screen and (max-width: 1120px) {
  section {
    width: 100%; } }

/*

@media screen and (max-width: 1120px) {
  .realty_search {
    padding: 20px 16px; }
  .wrapper {
    padding: 22px 0 18px 0; }
  .blogs__wrap {
    padding: 20px 0 0; } } */